/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9 feb. 2024, 16:47:24
    Author     : AndJe
*/
body {
    padding: 2% 5%;
    margin: 50px 0px;
}

td {
    display: table-cell;
    vertical-align: inherit;
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
    overflow-x: auto;
}

thead{
    background-color: lightseagreen;
}

tr:nth-child(even){
    background-color: lime;
}

tbody tr:hover{
    color: blue;
}

table {
    font-size: 100%;
}
